[submodule "sipprverse/MASHsippr/sipprcommon"]
	path = sipprverse/MASHsippr/sipprcommon
	url = https://github.com/adamkoziol/sipprcommon.git
[submodule "sipprverse/MLSTsippr/sipprcommon"]
	path = sipprverse/MLSTsippr/sipprcommon
	url = https://github.com/adamkoziol/sipprcommon.git
[submodule "sipprverse/sipprcommon"]
	path = sipprverse/sipprcommon
	url = https://github.com/adamkoziol/sipprcommon.git
[submodule "sipprverse/serosippr/sipprcommon"]
	path = sipprverse/serosippr/sipprcommon
	url = https://github.com/adamkoziol/sipprcommon.git
[submodule "sipprverse/sixteenS/sipprcommon"]
	path = sipprverse/sixteenS/sipprcommon
	url = https://github.com/adamkoziol/sipprcommon.git
