OLCTools==0.2.3
appdirs==1.4.3
biopython==1.70
certifi==2017.7.27.1
chardet==3.0.4
ete3==3.0.0b35
idna==2.6
numpy==1.13.1
packaging==16.8
pkginfo==1.4.1
psutil==5.2.2
pycurl==7.43.0
pyparsing==2.2.0
pysam==0.11.2.2
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
requests-toolbelt==0.8.0
scipy==0.19.1
six==1.10.0
tqdm==4.15.0
twine==1.9.1
urllib3==1.22
wheel==0.30.0a0
xlsxwriter==0.9.8
